.home-right {
  margin-top: 20%;
  height: 90%;
}

.home-right-main {
  height: 90%;
}

.home-right-main-img {
  height: 65vh;
  margin: auto;
  display: block;
}

.home-right-footer {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .home-right-main-img {
    height: 35vh;
    margin: auto;
    display: block;
  }
}
